#bubble-wrapper {
        height: 50%;
        width: 100%;

        position: fixed;
        bottom: 0px;

        overflow: hidden;
        pointer-events: none;

}

.bubble {
    height: max(400px, 30vw);
    width: max(400px, 30vw);

    background-color: rgb(33,150, 243);
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 100%;

    animation: wave 0.5s ease-in-out infinite;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}



@keyframes wave {
    from, to {
        transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, -20%);
    }
}
